.footerBye{


    min-height: 150px !important;
    background-color: black !important;
    width: 100% !important;
    margin-top: 100px !important;

}

.thanku{

    color: white !important;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;

}